* { margin: 0; padding: 0; box-sizing: border-box;}
ul { list-style-type: none;}
a { text-decoration: none;}
body {font-family: 'Nanum Gothic', sans-serif;}
#main_header {
    width: 1440px;
    /* background: #ccc; */
    height: 80px;
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid #ccc;
}
#main_header h1 {
    position: absolute;
    top: -2px; left: 700px;
}
#main_header h1 img {
    width: 100px; height: 80px;
}
#main_header > ul {
    margin-left: 50px;
}
#main_header > ul li {
     display: inline-block;
     font-size: 12px;
     margin-left: 10px;
     margin-top: 35px;
     /* outline: 1px solid red;  */
}
#main_header > ul li a {color: #888;}
#main_header > ul li:hover { text-decoration: underline;}
#main_header nav {
    position: absolute;
    right: 50px; top: 25px;
    text-align: center;
}
#main_header nav ul li  {
    display: inline-block;
    /* outline: 1px solid red; */
    color: #f8cbd0;
    font-size: 30px;
    margin-left: 15px;
}
#main_header nav ul li i { color: #f8cbd0;}

#main_gnb {
    width: 1440px;
    height: 50px;
    background: #ffffff;
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 1440px / 2);
    z-index: 9999;
}

/* 1단계메뉴  */
#main_gnb > .depth1 > li {
    /* outline: 1px solid red; */
    overflow: hidden;     /*자식플로트하면부모히든*/
    margin-top: 15px;
    cursor: pointer;
}
#main_gnb > .depth1 > li {
    width: 240px;
    text-align: center;  /*width 잡으면*/
    float: left;
    /* outline: 1px solid green; */
    font-weight: bold;
    color: #333;
}
#main_gnb > .depth1 a { display: block; }


/* 2단계 메뉴 안보임(기본) */
.depth2 {
    /* display: none;   애니메이션을 넣을려면 오퍼시티로. */
    opacity: 0;
    max-height: 0px;
    /* CSS방식 fade in / out */
    transition-duration: 0.8s;
    font-weight: normal;
}

/* 1단계 호버시 2단계메뉴 표시 */
.depth1 > li:hover > .depth2 {
    /* display: block; */
    background: #fff;
    /* ★ max-height  = 높이 자동조정 ★ */
    max-height: 300px;
    opacity: 1;
    margin-top: 13px;
    margin-bottom: 10px;
    border-top: 3px solid #f8cbd0;
  
}
.depth1 > li:hover > .depth2 li:last-of-type { padding-bottom: 15px;}
.depth1 > li:hover > .depth2 li {
    margin-top: 15px;
    padding: 5px;
    font-size: 14px;
}
.depth2 li a { color: #777;}
.depth2 li:hover > a {
    color: #f8cbd0;
    text-decoration: underline;
}
#main_gnb img {
     margin-top: 10px; margin-left: -10px;
     position: absolute;
    }


/* 비주얼 */
#visual {
    width: 100%;
    position: relative;
    margin-top: 45px;
    overflow: hidden;
    height: 500px;
    /* outline: 1px solid red; */
}
#visual > div { 
    width: 1440px;
    margin: 0 auto;
}
#visual > .slider > div > img {
    width: 100%;
}

/* 비디오 */
#video-info {
    width: 100%;
    height: 650px;
    background: #f0f0f0;
    /* margin-top: 50px; */
}
.info-container {
    width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}
.info-container .left {
    float: left;
    margin-top: 50px;
}

.info-container  .right{
    float: right;
    width: 720px;
    margin-top: 50px;
}
.right .main-txt {
    height: 140px;
    background: #fff;
    box-shadow: 0px 2px 5px #d4d3d3;
}
.main-txt h3 { font-size: 20px; color: #c1d3f3; padding: 40px; padding-bottom: 0;}
.main-txt p { font-size: 15px; color: #777; font-weight: bold; padding-left: 40px;padding-top: 10px;}
.sub-txt {
    position: relative;
    height: 30px;
    text-align: center;
    background: #c1d3f3;
    color: #fff;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 3px 4px #8499bd;
    z-index: 9999;
}
.v-img {
    height: 360px;
    background: #ccc;
    overflow: hidden;
}
.v-img > a {
    display: block;
    overflow: hidden;
    float: left;
}
.v-img  img {
    width: 360px; height: 180px;
    float: left;
    transition: 0.5s;
 }
.v-img img:hover {
    transform: scale(1.2);
}

/* 이벤트 */
#event {
    width: 1440px;
    margin: 0 auto;
}
#event h4 {
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}
#event a {
    margin-right: 20px;
    margin-bottom: 50px;
}
#event img {
    width: 460px;
    height: 200px;
}
#event a:last-child { margin-right: 0;}
#event a:hover > img {
    opacity: 0.7;
}

/* 상품리스트 */
#list {
    width: 1440px;
    margin: 0 auto;
}
#list h4 {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
#list ul {
    float: left;
}
#list ul li {
    margin-right: 20px;
    margin-bottom: 30px;
    display: inline-block;
}
#list ul li:last-of-type { margin-right: 0;}
.s-list dl {
    text-align: center;
    margin-top: 30px;
}
.s-list dl dt {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
    color: #444;
    margin-bottom: 10px;
}
.s-list dl dd {
    font-weight: 18px;
    font-weight: bolder;
    margin-top: 5px;
}
.s-list dl dd del { 
    font-size: 12px;
    color: #f8cbd0; 
    /* outline: 1px solid red; */
    
}
.s-list dd img { margin-top: 5px;}
/* look */
#look {
    clear: both;
    width: 100%;
    margin: 0 auto;
    
}
#look h4 {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.look-bg {
    width: 100%;
    height: 630px;
    background: #f8eaeb;
}
.look-container {
    width: 1440px;
    margin: 0 auto;
    /*background: #cccccc;*/
    
}

#look ul { margin-left: 100px; overflow: hidden;}
#look ul li {
    float: left;
    margin-top: 75px;
    overflow: hidden;
}
#look ul li:hover > a {
    display: block;
    overflow: hidden;
    float: left;
}
#look ul li img {
    width: 100%;
    transition: 0.5s;
}

#look ul li:hover img {
    transform: scale(1.1);
}
#review {
    clear: both;
    width: 1440px;
    margin: 0 auto;
}

.r-left {
    width: 1000px; height: 300px;
}
.r-left h4 {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.r-left img {width: 123px; height: 123px;}
.r-left .r-txt {
    display: inline-block;
    margin-left: 20px;
    position: relative;
    bottom: 30px;
}
.r-left h5 {
    font-size: 14px;
    color: #f1b5bc;
    font-weight: normal;
    margin-bottom: 5/x;
}
.r-left p {
    font-size: 12px;
    color: #999;
    position: relative;
    left: 280px; top: -10px;
    
 }
.r-left .title {font-size: 16px; color: #333; font-weight: bold; margin-bottom: 10px;}
.r-left .post {font-size: 13px; color: #999;}

